body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #CCBBCC;
}

.chatroom__header {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

.chatroom__header__name {
  font-size: 24px;
  font-weight: bold;
}

.chatArea {
  position: relative;
  width: 100%;
}

.chatArea__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message__area {
  width: 100%;
  height: 990px;
  overflow-y: scroll;
}

.message__part {
  position: relative;
  padding: 15px 0;
  background: #DFF6F3;
}

.message__part:last-of-type::after {
  display: none;
}

.message__header {
  padding: 0 0 0 30px;
}

.message__head {
  align-items: center;
  margin: 0 0 0 20px;
}

.message__time {
  color: #00000078;
  margin: -10px 0 0 20px;
  font-size: 12px;
}

.message__word {
  margin: -10px 0 0 93px;
  padding: 0 20px 0 0;
  font-size: 16px;
}

.input-message {
  position: relative;
  bottom: 0;
  padding: 20px 20px 0;
  margin: 0 auto;
  width: 96.28%;
  height: 244px;
}

.input-message__body {
  position: relative;
  overflow-y: scroll;
  padding: 20px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #707070;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.input-message__word {
  outline: none;
  width: 100%;
  height: 150px;
  font-size: 16px;
  line-height: calc(28 / 22);
}

.input-message__word.input-message__word__question {
  height: 106px;
}

.send-message__button {
  margin: 0 0 0 25px;
}

.chatroom__header__btns button + button {
  margin: 0 0 0 30px;
}

.question-mode__desc {
  position: relative;
  margin: 0 0 15px;
  padding: 0 0 5px;
  width: fit-content;
  font-weight: bold;
}

.input-message__footer {
  display: flex;
  justify-content: space-between;
}
.question-mode__desc::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 2px;
  background: gray;
}

.Input-buttons__right {
  display: flex;
  align-items: end;
}
.Input-buttons__right__cancel-text {
  margin: 0 0 3px 15px;
  font-size: 12px;
  font-weight: bold;
}

.delay-input__button {
}

.delay-input__box {
  width: 55px;
  height: 34px;
  border: 2px solid #9D9D9D;
}

.delay-input__text {
  margin: 0 0 0 5px;
}
