body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #CCBBCC;
}

.login-page__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 0;
  height: 100vh;
  background: #90CAF9;
}

.login-page__title {
color: white;
font-size: 90px;
}

.login__button {
  margin: 32px auto 0;
  padding: 20px 0;
  width: 390px;
  background: #0D47A1;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  transition:all 0.5s;
  :hover {
    background: #fff;
    color: #0D47A1;
    transition:all 0.5s;
  }
}

.header {
  padding: 30px 5px 5px;
  width: 21.08vw;
  height: 100vh;
  max-width: 288px;
  background: #90CAF9;
}

.signout-button {
  display: flex;
  margin: 40px auto 0;
  padding: 16px 28px;
  background: #1976D2;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #1976D2;
  transition: all 0.5s;
}
.signout-button:hover {
  background: #fff;
  color: #1976D2;
  border: 1px solid #1976D2;
  transition: all 0.5s;
}

.menu__button {
display: flex;
flex-direction: column;
justify-content: center;
width: 23.79vw;
max-width: 325px;
padding: 50px 0;
background: #1976D2;
height: fit-content;
border-radius: 10px;
border: 2px solid #1976D2;
color: white;
font-weight: bold;
transition: all 0.5s;
}
.menu__button:hover {
  background-color: white;
  color: #1976D2;
  border: 2px solid #1976D2;
  transition: all 0.5s;
}
.menu__button + .menu__button {
  margin: 0 0 0 100px;
}
.menu__button__title {
  font-size: 20px;
  white-space: wrap;
}
.menu__button__description {
  margin: 60px 0 0;
  white-space: wrap;
  font-size: 16px;
}

.menu__button p {
  width: 100%;
  text-align: center;
}

.missing-text {
  color: red;
  font-size: 15px;
}

.chatroom__header {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background: #ECEFF1;
  border-bottom: 1px solid gray;
}

.chatroom__header__name {
  font-size: 24px;
  font-weight: bold;
}

.chatArea {
  position: relative;
  width: 100%;
}

.chatArea__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message__area {
  width: 100%;
  height: 990px;
  overflow-y: scroll;
}



.message__part {
  position: relative;
  padding: 15px 0;
}

.message__part__current-user {
  background: #fff;
  
}
.message__part__other-user {
  background: #E3F2FD;
}

.message__part:last-of-type::after {
  display: none;
}

.message__header {
  padding: 0 0 0 30px;
}

.message__head {
  align-items: center;
  margin: 0 0 0 20px;
}

.message__time {
  color: #00000078;
  margin: -10px 0 0 20px;
  font-size: 12px;
}

.message__word {
  margin: -10px 0 0 93px;
  padding: 0 20px 0 0;
  font-size: 16px;
}

.input-message {
  position: relative;
  bottom: 0;
  padding: 20px 20px 0;
  margin: 0 auto;
  width: 96.28%;
  height: 244px;
}

.input-message__body {
  position: relative;
  overflow-y: scroll;
  padding: 20px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #707070;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.input-message__word {
  outline: none;
  width: 100%;
  height: 150px;
  font-size: 16px;
  line-height: calc(28 / 22);
}

.input-message__word.input-message__word__question {
  height: 106px;
}

.send-message__button {
  margin: 0 0 0 25px;
}

.chatroom__header__btns button + button {
  margin: 0 0 0 30px;
}

.question-mode__desc {
  position: relative;
  margin: 0 0 15px;
  padding: 0 0 5px;
  width: fit-content;
  font-weight: bold;
}

.input-message__footer {
  display: flex;
  justify-content: space-between;
}
.question-mode__desc::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 2px;
  background: gray;
}

.Input-buttons__right {
  display: flex;
  align-items: flex-end;
}
.Input-buttons__right__cancel-text {
  margin: 0 0 3px 15px;
  font-size: 12px;
  font-weight: bold;
}

.delay-input__button {
}

.delay-input__box {
  width: 55px;
  height: 34px;
  border: 2px solid #9D9D9D;
}

.delay-input__text {
  margin: 0 0 0 5px;
}
